
h1 {color: red;
    background-color: yellowgreen;
    width: 600px; hight:100px;
padding: 10px;
margin: 40px;
border: aqua solid thick}
body {background-color: ghostwhite}

/* Background
https://youtu.be/C5QFHp1oAws?t=9815Minute:
*/